<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>
        KTUN - Staj Takip
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="red darken-4">
    <header>
        <div class="navbar-fixed">
            <nav class="white">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center"><img style="width: 150px; padding:20px;"
                            src="/images/logo.png"></a>
                    <ul class="right hide-on-med-and-down" style="margin-right: 10px;">
                        <li><a href="#" class=""><i
                                    class="red-text text-darken-4 material-icons left">search</i><span
                                    class="red-text text-darken-4">SSS</span></a>
                        </li>
                        <li><a href="/" class=""><i
                                    class="red-text text-darken-4 material-icons left">home</i><span
                                    class="red-text text-darken-4">Anasayfa</span></a></li>

                    </ul>
                </div>
            </nav>
        </div>

    </header>
